export OMNIAUTH_PROVIDER_KEY=8f6da74d29f0b02cec3c6be1b584ccd7e5a739df1398780e0254b65b41fe61ee
export OMNIAUTH_PROVIDER_SECRET=86463aa66275698414e1dd655304d88ecbefefd110f38e21e89080ddf0193676
export OMNIAUTH_TOKEN_URL="https://oauth.devpost.dev/oauth/token"
export OMNIAUTH_AUTHORIZE_URL="https://oauth.devpost.dev/oauth/authorize"
export OMNIAUTH_PROVIDER_SITE="https://devpost.dev"

export JWT_SECRET_KEY_BASE="somesecretkey"

export MQ_PASSWORD=SIjWdXXXnaIeO14c7nnoVFjrvx2VKZmH
